.div1{
    background-color: darkblue;
}
.div2{
    background-color:blue;
}
.div3{
    background-color:aqua;
}
.container{
    border: 2px solid black;
    /*Limita o tamanho do elemento*/
    max-width: 400px;
    margin: 0 auto;
    /*Define o tamanho do elemento e o espaço entre eles*/
    display: flex;
    
}

.item{
    background: rgb(0, 0, 0);
    margin: 5px;
    text-align: center;
    color: aliceblue;

}

.flex{
    display: flex;
}

.flex > div > img{
    height: 80px;
    width: 80px;

}

.div_coluna{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: brown;
    /*Coloca um espaaço entre os elementos*/
    gap: 10px;
    flex-wrap:wrap;
}

.secao-imagem{
    width: 150px;
    height: 150px;
}

.alinhar-esquerda{
    display: flex;
    flex-direction: row;
    /*Alinhar os elemnetos ao inicio*/
    justify-content: flex-start;
}
.alinhar-centro{
    display: flex;
    flex-direction: row;
    /*Alinhar os elementos ao centro*/
    justify-content: center;
}
.alinhar-direita{
    display: flex;
    flex-direction: row;
    /*Alinha o elementos ao fim*/
    justify-content: flex-end;
}
.alinhar-entre {
    display: flex;
    flex-direction: row;
    /*Aloca os elementos nas pontas e ajusta os elementos do centro*/
    justify-content: space-between;
}
.alinhar-coluna{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    align-items: center;
        width: 100%;
    background-color: blueviolet;
}

.alinhar-itens-centro{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    height: 200px;
    background-color: rgb(142, 60, 230);
    align-items: center;
    justify-content: space-between;
}

