.div1{
    background-color: darkblue;
}
.div2{
    background-color:blue;
}
.div3{
    background-color:aqua;
}
.container{
    border: 2px solid black;
    /*Limita o tamanho do elemento*/
    max-width: 400px;
    margin: 0 auto;
    /*Define o tamanho do elemento e o espaço entre eles*/
    display: flex;
    
}

.item{
    background: rgb(0, 0, 0);
    margin: 5px;
    text-align: center;
    color: aliceblue;

}

.flex{
    display: flex;
}

.flex > div > img{
    height: 80px;
    width: 80px;

}

.div_coluna{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: brown;
    /*Coloca um espaaço entre os elementos*/
    gap: 10px;
    flex-wrap:wrap;
}

.secao-imagem{
    width: 150px;
    height: 150px;
}

.alinhar-esquerda{
    display: flex;
    flex-direction: row;
    /*Alinhar os elemnetos ao inicio*/
    justify-content: flex-start;
}
.alinhar-centro{
    display: flex;
    flex-direction: row;
    /*Alinhar os elementos ao centro*/
    justify-content: center;
}
.alinhar-direita{
    display: flex;
    flex-direction: row;
    /*Alinha o elementos ao fim*/
    justify-content: flex-end;
}
.alinhar-entre {
    display: flex;
    flex-direction: row;
    /*Aloca os elementos nas pontas e ajusta os elementos do centro*/
    justify-content: space-between;
}
.alinhar-coluna{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    align-items: center;
        width: 100%;
    background-color: blueviolet;
}

.alinhar-itens-centro{
    display: flex;
    flex-direction: column;
    /* distribui os itens com espaço ao redor deles */
    height: 200px;
    background-color: rgb(142, 60, 230);
    align-items: center;
    justify-content: space-between;
}
.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.4rem;
    height: 500px;
}
.card{
    width: 300px;
    height: 250px;
    flex: 0 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
}
.card:hover{
    /*Serve par criar um efeito hover, mudando a posição do card*/
    transition: scale(1.1);
    box-shadow: 0 8px 15px #000000;
}
.cabecalho-card{
    padding: 10px;
    text-align: center;
}
.card-titulo{
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
.subtitulo-card{
    margin: 0;
    font-size: 1rem;
    color: #777;
}
.imagem-card{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem-card > img{
    max-width: 100%;/*Mantem o limite maximo do tamanho do container */
    height: 150px;/*Mantem a proporção da imagem*/
}
.imagem-card > figcaption{
    font-size: 0.8rem;
    padding: 8px;
    text-align: center;
    color: #555;

}
.conteudo-card{
    padding: 10px;
    background-color: rgba(222, 197, 55, 0.277);
    text-align: center;
}
.rodape-card{
    text-align: center;
    padding: 6px;
}
.botao-card{
    text-decoration:none;/*Remove a decoração de linha*/
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    padding: 5px 6px;
    /*Permite definir largura e altura, alinha elementos na mesma linha*/
    display: inline-block;
}
.botao-card:hover{
    background-color: rgb(0, 0, 0);
    width: 150px;
}