/* Seletor Universal*/
        *{
            margin: 20px;
        }
       
         /*Seletor de tipo,aplicando em um tag*/
        p{
            color: rgb(0, 0, 0);
        }

         /*Seletor de classe*/
         .paragrafo{
            background-color: rgb(0, 0, 0);
            /*margin: 10px; - Aplica em todas as margens*/
            /*margin: 10px 40px; - Aplica nas margens 'Laterais' e 'superior e inferior' */
            /*margin: 10px 20px 30px 40px; aplica margem top, right, bottom, left*/
            /*margin-left: 10px;*/
            /*alinha elementos ao centro*/
            text-align:center;

        }
        .imagem{
            width: 100px;
            height: 100px;
        }
    body{
        background-color: rgb(0, 0, 0);
    }   
    .tabela{
        /*Remover os espaços entre as borbas */
        border-collapse: collapse;
        width: 100%;
    }
    .cabecalho, .celula {
        /* Configura o formato da borda Eepessura, tipo e cor */
        border: 2px solid #ddd;
        /* Define o espamento interno */
        padding: 5px;
        text-align: left;
        color: black;
        background-color:hotpink;
    }
    .celula2 {
        background-color: rgba(50, 48, 46, 0.19);
    }
    .formulario{
        background-color:lightskyblue;
    }
    label{
        background-color:cornflowerblue;
    }
    .input-nome{
        border: none;
        border-radius:5px;
        margin-left: 50px;
        opacity: 70%;
    }
    .botao{
        background-color:rgb(0, 13, 255);
        border: none;
        border-radius: 5px;
        padding: 6px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        text-shadow: 25px 1px 4px  rgba(224, 233, 255, 0.718);

    }
    .checar{
        width: 20px;
        height: 20px;
        margin-left: 5px;
        /*modifica o tipo de cursor*/
        cursor: pointer;
        /*Zerar as configurações de aparencia*/
        appearance: none;
        background-color:#fff;
        border: 2px solid #4caf50;
    }

