@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    /*Assegura que padding e margin sejam incluidos nas dimensões totais do elementos*/
    box-sizing: border-box;
    
}
.logo{
    font-family: Teko;
    font-size: 2rem;
    color: white;
    margin:0.5cm;
}
nav{
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(35, 3, 3);
    padding: 10px;
}

.menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

ul{
    display: flex;
    gap: 1.5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
li > a{
    color:whitesmoke;
    font-family: Teko;
}

.acessar{
    color:dimgray;
}
.banner_cafe{
    max-width: 1120px;
    height: 60vh;
    margin: auto;

}
.banner_cafe > img {
    width: 100%;
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    opacity: 0.7;
}